<div class="container d-flex justify-content-center mt-5">
      <div class="profil m-5">
            <div class="profile-image"><img src="../../../assets/profilbild.jpg" alt="profilbild" /></div>
            <figcaption>
                  <h3>Marika Sundblad</h3>
                  <h4>Frontend utvecklare</h4>
                  <p>Studerar till frontend utvecklare på EC Utbildning. Juni 2022 är utbildningen slut och då är jag redo att komma ut och jobba.</p>
            </figcaption>
      </div>
</div>
