<div class="container">
      <div class="input-group mb-3">
            <label class="form-label me-3" for="typeText">Namn</label>
            <input type="text" id="typeText" class="form-control" />
          </div>
          <div class="input-group mb-3">
            <label class="form-label me-3" for="typeText">Ämne</label>
            <input type="text" id="typeText" class="form-control" />
          </div>
          <div class="input-group mb-3">
            <label class="form-label me-3" for="typeEmail">Email</label>
            <input type="email" id="typeEmail" class="form-control" />
          </div>
          <div class="input-group mb-3">
            <label class="form-label me-3" for="textAreaExample">Meddelande</label>
            <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
          </div>
</div>