<div class="container mb-5">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <div class="bg-base p-4">
                <div class="profile">
                    <div class="profile-img">
                      <img class="img-fluid " src="../../../assets/profilbild.jpg" alt="profilbild">
                    </div>
                    <div class="mt-5">
                      <h5 class="text-white">Marika Sundblad</h5>
                    </div>
                </div>
                <div class="py-3 border-top">
                  <div class="text-white">
                    <h6>Email:</h6>
                    <p>marika.sundblad89@gmail.com</p>
                  </div>
                  <div class="text-white">
                    <h6>Mobil:</h6>
                    <p>076-3221456</p>
                  </div>
                </div>
                <div class="text-white">
                  <h5>Kunskaper:</h5>
                        <p>HTML & CSS</p>
                        <p>Javascript</p>
                        <p>Vue</p>
                        <p>React</p>
                        <p>Node/Express</p>
                        <p>Angular</p>
                        <p>Agila projektmetoder</p>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="resume">
                  <h5>Utbildning</h5>
                  <div class="timeline">
                    <div class="timeline-item">
                      <div class="timeline-cricle">
                        <i class="far fa-circle"></i>
                      </div>
                      <div class="info-box">
                          <span>Okt 2020 - Juni 2022</span>
                          <h6 class="mb-2">Frontend utvecklare</h6>
                          <span>EC Utbildning</span>
                          <p class="mt-2"></p>
                      </div>
                    </div>
                    <div class="timeline-item mb-0">
                      <div class="timeline-cricle">
                        <i class="far fa-circle"></i>
                      </div>
                      <div class="info-box">
                          <span>Maj 2017 - Okt 2017</span>
                          <h6 class="mb-2">Administration</h6>
                          <span>Hermods</span>
                          <p class="mt-2"></p>
                      </div>
                    </div>
                    <div class="timeline-item mb-0">
                        <div class="timeline-cricle">
                          <i class="far fa-circle"></i>
                        </div>
                        <div class="info-box">
                            <span>Nov 2013 – Mars 2014</span>
                            <h6 class="mb-2">Entreprenörskap</h6>
                            <span>Hermods</span>
                            <p class="mt-2"></p>
                        </div>
                      </div>
                      <div class="timeline-item mb-0">
                        <div class="timeline-cricle">
                          <i class="far fa-circle"></i>
                        </div>
                        <div class="info-box">
                            <span>Aug 2008 – Dec 2008</span>
                            <h6 class="mb-2">Digital Mediadistribution</h6>
                            <span>Rockcity Hultsfred</span>
                            <p class="mt-2"></p>
                        </div>
                      </div>
                      <div class="timeline-item mb-0">
                        <div class="timeline-cricle">
                          <i class="far fa-circle"></i>
                        </div>
                        <div class="info-box">
                            <span>Aug 2005 – Juni 2008</span>
                            <h6 class="mb-2">Specialutformat Mediaprogram</h6>
                            <span>Kopparlundsgymnasiet</span>
                            <p class="mt-2"></p>
                        </div>
                      </div>
                  </div>
                <div class="mt-4">
                  <h5>Anställningar</h5>
                  <div class="timeline">
                    <div class="timeline-item">
                      <div class="timeline-cricle">
                        <i class="far fa-circle"></i>
                      </div>
                      <div class="info-box">
                          <span>April 2012 - nuvarande/tjänstledig</span>
                          <h6 class="mb-2">Konsult</h6>
                          <span>Manpower</span>
                          <p class="mt-2">Konsult på uppdrag hos företag som ABB, Volvo, Regenersis och Enics m.fl. Som konsult har jag fått en portfölj av olika sorters kunskap som bl. a felsökning, kvalitetskontroller, ritläsning, förrådshantering, härvtillverkning och mycket annat.</p>
                      </div>
                    </div>
                    <div class="timeline-item mb-0">
                      <div class="timeline-cricle">
                        <i class="far fa-circle"></i>
                      </div>
                      <div class="info-box">
                          <span>Jan 2010 – Dec 2011</span>
                          <h6 class="mb-2">Maskinoperatör</h6>
                          <span>- Enics</span>
                          <p class="mt-2">Varit maskinoperatör till ytmonteringsmaskiner. Hade arbetsuppgifter såsom ritläsning, avsyning och kvalitetskontroll av kretskort m.m.</p>
                      </div>
                    </div>
                    <div class="timeline-item mb-0">
                        <div class="timeline-cricle">
                          <i class="far fa-circle"></i>
                        </div>
                        <div class="info-box">
                            <span>Jun 2009 – Aug 2009</span>
                            <h6 class="mb-2">Avsynare</h6>
                            <span>- Enics</span>
                            <p class="mt-2">Avsyning och kvalitetskontroll av kretskort.</p>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="timeline-box mt-4">
                  <h5>Övrigt</h5>
                  <div class="timeline">
                    <div class="timeline-item">
                      <div class="timeline-cricle">
                        <i class="far fa-circle"></i>
                      </div>
                      <div class="info-box">
                          <span>Feb 2019</span>
                          <h6 class="mb-2">Lean Six Sigma White Belt Certifikat</h6>
                          <span>ABB</span>
                      </div>
                    </div>
                    <div class="timeline-item mb-0">
                      <div class="timeline-cricle">
                        <i class="far fa-circle"></i>
                      </div>
                      <div class="info-box">
                          <span>Jan 2019</span>
                          <h6 class="mb-2">Resilience training</h6>
                          <span>ABB</span>
                    </div>
                  </div>
                  <div class="timeline-item">
                        <div class="timeline-cricle">
                          <i class="far fa-circle"></i>
                        </div>
                        <div class="info-box">
                            <span>Nov 2018</span>
                            <h6 class="mb-2">SSG-utbildning</h6>
                            <span>Manpower</span>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>